.task {
	position: relative;

	margin-bottom: 5px;
	padding: 5px 0;
	padding-left: 5px;

	background-color: white;
	border-radius: 5px;
}

.title {
	cursor: pointer;
	margin-right: 10px;
}

.checkbox {
	margin-right: 10px;
}

.caret {
	margin-right: 10px;
}

.subTask {
	margin-bottom: 0;
	padding-left: 26px;
}

.plusAddSubtask {
	margin-right: 10px;
	padding-left: 27px;
}

.input {
	font-size: 14px;
}

.inputSubtask {
	font-size: 14px;
}

.plusAddTask {
	margin-right: 10px;
}

.plusAddTask:hover svg {
	fill: #1677ff
}

.removeButton {
	position: absolute;
	top: 6px;
	right: 5px;

	font-size: 20px;

	opacity: 0.3;
}

.removeButton:hover {
	opacity: 1;
}
