.task {
	position: relative;
	margin-bottom: 5px;
	background-color: #F7FBFD;
	border-radius: 5px;
}

.checkbox {
	margin-right: 10px;
}

.caret {
	margin-right: 10px;
}

.subTasks {
	padding-left: 30px;
}

.subTask {
	margin-bottom: 0;
	padding-left: 30px;
}

.input {
	margin-top: 2px;
	margin-bottom: 10px;
	margin-left: 56px;
	font-size: 14px;
}

.inputSubtask {
	font-size: 14px;
}

.plusTask {
	margin: 0 10px;
	padding: 10px 0;
}
