.form {
	display: inline-block;
}

.input {
	display: inline-block;
	opacity: 0.4;
	border: none;
	box-shadow: 0 4px 4px rgb(0 0 0 / 5%);
}

.input::placeholder {
	color: black;
	opacity: 0.5;
}

.input:focus,
.input:hover {
	color: black;
	opacity: 1;
}

.input:hover {
	opacity: 0.8;
}
